.aboutContainer {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 10vh;
}
.subhead {
    display: flex;
    justify-content: center;
}
.timelineR {
    overflow: scroll;
}

.year {
    padding-top: 2rem;
    padding-left: 3rem;
    font-size: 2rem;
    animation: fadeInDown;
    animation-duration: 3s;
}

.event {
    padding-bottom: 1rem;
}

.text {
    padding-left: 3rem;
    padding-top: 1rem;
    width: 50vw;
}