.homebg {
    background-image: url("../images/Home.png");
    background-size: 100vw 95vh;
    background-position: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-repeat: no-repeat;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.componentContainer{
    display: flex;
    justify-content: center;
    width:800px;
    background: rgba(239, 239, 239, 0.9);
    border: solid white 4px;
    padding: 1.5rem;
}
.header {
    color: black;
    font-size: 3rem;
}
.introContainer {
    display: flex;
    justify-content: center;
    
}
.textContainer {
    width: 400px;
    padding: 2rem;

}

.introText {
    font-size:1.5rem;
}
.profilePic {
    width: 24rem;
    border-radius: 20%;
    margin: 2rem;
}