body {
    background-image: url("../images/Home.png");
    background-size: 83vw 100vh;
    background-position: bottom no-repeat;
    background-position-x: right;
    background-repeat: no-repeat;
}
.outterComponentContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}
.innerComponentContainer{
    display: flex;
    justify-content: center;
    width:800px;
    background: rgba(239, 239, 239, 0.9);
    border: solid white 4px;
    border-radius: 10%;
    padding: 1.5rem;
}
.header {
    color: black;
    font-size: 3rem;
}
.introContainer {
    display: flex;
    justify-content: center;
    
}
.textContainer {
    width: 400px;
    padding: 2rem;

}

.introText {
    font-size:1.5rem;
}
.profilePic {
    width: 24rem;
    border-radius: 20%;
    margin: 2rem;
}