body {
    background: url("../images/Ideas.png");
    /* background-position-y: bottom; */
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* position: absolute;
    top: 4rem;
    bottom: 0;
    left: 0;
    right: 0; */
}
.projectsContainer {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
.innerProjectCard {
    display: flex;
    padding-left: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.projectCard {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid black 2px;
    width: 90vw;
    height: 90vh;
}

.title {
    padding-left: 1.5rem;
    font-size: 2rem;
    margin-bottom: 0;
}
.subheader{
    padding-left: 1.5rem;
    font-size: 1.1rem;
}

.cardLink {
    text-decoration: underline;
    color: black;
}

.thumbnail {
    width: 20vw;
}

.thumbnailContainer {
    display: flex;
    width: 45vw;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.textContainer {
    font-size: 1.2rem;
    width: 100%;
    margin-top: 0;
    margin-bottom: 0;
}

.images {
    display: flex;
    justify-content: center;
    width: 100%;

}

.projectImages {
    width: 10vw;
    margin: 1.5rem;
}

.projectImages:hover {
    transform: scale(3.3);
    transition: 0.25s;
    /* border: solid black 1px; */
    
}