.projectsbg {
    background: url("../images/Ideas.png");
    background-size: 100vw 100vh;
    position: absolute;
    top: 3rem;
    bottom: 0;
    left: 0;
    right: 0;
}
.projectsContainer {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}
.innerProjectCard {
    display: flex;
    padding-left: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.projectCard {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    border: solid black 2px;
    width: 90vw;
    height: 70vh;
}

.title {
    padding-left: 1.5rem;
    font-size: 2rem;
}

.cardLink {
    text-decoration: underline;
    color: black;
}

.thumbnail {
    width: 20vw;
}

.thumbnailContainer {
    display: flex;
    align-items: center;
}

.textContainer {
    font-size: 1.2rem;
    width: 100%;
}

.projectImages {
    width: 10vw;
    margin: 1.5rem;
}

.projectImages:hover {
    transform: scale(3.3);
    /* border: solid black 1px; */
    
}
