.projectsContainer {
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}
.innerProjectCard {
    display: flex;
    padding-left: 1.5rem;
    margin-bottom: 0;
    padding-bottom: 0;
}
.projectCard {
    display: flex;
    flex-direction: column;
    background-color: rgba(255, 255, 255, 0.8);
    width: 90vw;
}

.title {
    padding-left: 1.5rem;
    font-size: 2rem;
    margin-top: 1.5rem;
    margin-bottom: 0;
}
.subheader{
    padding-left: 1.5rem;
    font-size: 1.1rem;
}

.cardLink {
    text-decoration: underline;
    color: black;
}

.thumbnail {
    width: 20vw;
}

.thumbnailContainer {
    display: flex;
    width: 45vw;
    align-items: center;
    margin-top: 0;
    margin-bottom: 0;
}

.textContainer {
    font-size: 1.2rem;
    width: 100;
    margin-top: 0;
    margin-bottom: 0;
}

.images {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;

}

.projectText{
    padding: 0.6rem;

}

.projectImages {
    width: 85vw;
    margin: 1.5rem;
}

.cardContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 3rem;
}
.cardTitle{
    text-align: center;
    margin: 1rem;
    font-size: 1.5rem;
}
.card {
    width: 300px;
    height: 200px;
    border-radius: 10%;
}

.card:hover {
    animation: pulse;
    animation-duration: 1.5s;
}
.backButton {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    width: 14rem;
    height: 1.4rem;
    padding: 0.5rem;
    margin-left: 1rem;
    border-left: solid white 2px;
}

.backButton:hover {
    border-left: solid rgb(248, 190, 114) 2px;
}