* {
    margin: 0;
}
html {
    font-size: 14px;
}
.headerContainer {
    /* background-color: rgb(255, 255, 255); */
    display: flex;
    align-items: center;
    background-image: linear-gradient(30deg, pink, rgb(139, 137, 243));
    height: 6rem;
    display: flex;
    justify-content: center;
    width: 100%;
}
.headerLinks{
    font-size: 1.5rem;
    color: rgb(255, 255, 255);
    text-decoration: none;
    padding-left: 1.1rem;
    margin: 10px;
}
.headerLinks:hover{
    color: rgb(0, 0, 0);
    text-decoration: none;
    margin: 10px;
}